* {
    box-sizing: border-box;
    font-family: "고운 돋움";
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-title {
	display: flex;
	justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: bold;
}

.login-box {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-box > div {
    display: inline;
    
}

.login-box input {
    width: 130px;
    height: 24px;
}

.login-button {
    width: 130px;
    height: 24px;
    background-color: black;
    color: white;
    margin: 10px;
}

.login-box a {
    color: black;
    text-align: center;
    font-weight: bold;
}

/****************** 로그인 성공 시 *********************/

.list-title {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 24px;
	font-weight: bold;	
}

.list {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 10px;
}

.register {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
